@import "~bootstrap/scss/bootstrap.scss";

body {
    display: flex;
    justify-content: center;
}
#semaphoreBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border-radius: 15px;
    margin-top: 50px;
    max-width: min-content;
    min-height: min-content;
}
#lightsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}
#redLight{
    display: flex;
    color: red;
    cursor:pointer;
    border-radius: 50%;
}
#yellowLight{
    display: flex;
    color: yellow;
    cursor:pointer;
    border-radius: 50%;
}
#greenLight{
    display: flex;
    color: green; 
    cursor:pointer;
    border-radius: 50%;
}
.redShadow{
    box-shadow: Red 0px 0px 50px 20px  ;
}
.yellowShadow{
    box-shadow: yellow 0px 0px 50px 20px  ;
}
.greenShadow{
    box-shadow: green 0px 0px 50px 20px  ;
}